.message {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.message .bubble {
  padding: 0.8rem;
  font-size: 0.9rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  border-radius: 10px;
  word-break: break-word;
}
.message .in {
  align-self: flex-end;
  background: #dee2d2;
  border-bottom-right-radius: 0;
}
.message .out {
  align-self: flex-start;
  background: #8ac6d2;
  border-top-left-radius: 0;
}
.message .message__time {
  text-align: right;
  padding-top: 0.3rem;
  font-size: 0.6rem;
  font-weight: 400;
  color: #333333;
  display: block;
}

.chats {
  padding: 1rem;
  background: #fff;
  padding-bottom: 9rem;
  overflow-y: auto;
  width: 100%;
  height: 80%;
}
@media screen and (min-width: 320px) {
  .chat__window {
    width: 100%;
  }
}
@media screen and (min-width: 811px) {
  .chat__window {
    width: 50%;
  }
}

.chat__bar {
  position: relative;
  z-index: 5;
  background: #239644;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 0.2rem;
}

.chat__bar--left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat__bar--left .profile__photo {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-left: 0.5rem;
}
.chat__bar--left span {
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 0.5rem;
  color: #fff;
}

.chat__bar--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__bar {
  position: fixed;
  padding: 1rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 320px) {
  .input__bar {
    bottom: 50px;
    left: 5px;
    right: 0;
  }
}
@media screen and (min-width: 811px) {
  .input__bar {
    bottom: 0;
    left: 16px;
    right: 16px;
  }
}
.input__bar .input__bar--container {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input__bar .emoji__panel {
  width: 100%;
}
.input__bar .emoji__panel aside {
  margin: 0 auto;
  width: 100%;
  height: 250px;
}
.input__bar .input__group {
  width: 90%;
  background: #e3e2e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 30px;
}
.input__bar .icon__emoji {
  margin-right: 0.2rem;
  border: none;
  outline: none;
  background: none;
}
.input__bar .chat__input--box {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
}
.input__bar .send__message--button {
  border: none;
  outline: none;
  background: #239644;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
}
.input__bar .send__message--button:active {
  transform: scale(0.8);
}
@media screen and (min-width: 320px) {
  .input__bar .send__message--button {
    margin: 0.3rem;
    padding: 0.6rem;
  }
}
@media screen and (min-width: 811px) {
  .input__bar .send__message--button {
    margin: 0.5rem;
    padding: 0.6rem;
  }
}
.input__bar .send__message--button img {
  filter: invert(100%);
}
@media screen and (min-width: 320px) {
  .input__bar .send__message--button img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (min-width: 811px) {
  .input__bar .send__message--button img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 811px) {
  .go__back {
    display: none;
  }
}

.bar__button {
  background: none;
  outline: none;
  border: none;
  transition: all 300ms forward;
  border-radius: 100px;
  padding: 0.4rem;
}
.bar__button:active {
  background: grey;
}
.bar__button:active .icon__back {
  transform: scale(0.6) rotate(180deg);
}

.bar__icon {
  filter: invert(100%) brightness(1.5);
}

.icon__back {
  transform: scale(0.9) rotate(180deg);
}

.icon__call {
  transform: rotateX(180deg);
}

.icon-video {
  transform: rotateX(180deg);
}

.video_call__container {
  height: 100%;
  width: 100%;
  position: relative;
}
.video_call__container #main-video {
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media screen and (min-width: 320px) {
  .video_call__container #main-video {
    position: absolute;
    width: 100vw;
    height: 100%;
    left: -15px;
    object-fit: fill;
  }
}
@media screen and (min-width: 811px) {
  .video_call__container #main-video {
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width: 320px) {
  .video_call__container #sub-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: fill;
    transition: all 300ms ease-in;
  }
}
@media screen and (min-width: 320px) {
  .video_call__container .sub_video__resized {
    width: 100px !important;
    height: 150px !important;
    right: 20px;
    bottom: 20px;
    border: 2px solid grey;
    border-radius: 10px;
  }
}
.video_call__container .call_end__container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video_call__container .call_end__container button {
  background: none;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px grey;
  border-radius: 100px;
}
.video_call__container .call_end__container button:hover {
  background: #e25151;
}

.audio_call__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e3e2e7;
}
.audio_call__container h1 {
  margin-bottom: 30px;
}
.audio_call__container article {
  margin-bottom: 30px;
}
.audio_call__container article img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
.audio_call__container .call_end__container button {
  border-radius: 100px;
  border: 2px solid #e25151;
  box-shadow: 1px 0px 2px grey;
}
.audio_call__container .call_end__container button:hover {
  background: #e25151;
}

/*# sourceMappingURL=message.css.map */
